.triangle-tip {
  background-color: red;
  border-radius: 14px;
  height: 28px;
  font-size: 12px;
  color: white;
  display: inline-block;
  padding: 0 8px;
  border: solid 1px white;
  box-sizing: border-box;
  line-height: 26px;
}
